@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --first-color: #3a6fd9;
  --first-color-lighten: #f2f6fd;
  --text-color: #132132;

  --normal-font-size: .9rem;
  --small-font-size: .8rem;
  --smaller-font-size: .7rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;

  --body-font: "Inter", sans-serif;
  --header-height: 3.5rem;

  --body-bg-color: #fcfcfc;
  --primary-bg: #EEF7FF;
  --primary-bg-lighten: #F7F9FC;

  --blue: #1788D4;
  --orange: #f16534;
  --teal-green: #008060;
  --teal-blue: #008080;
  --green: #25D366;
  --orange-darken: #de5625;
  --teal-darken: #1b2f45;
  --teal-extra-darken: #132132;


  /* # careers page accordion */

  --color-primary: #ff4b4b;
  --color-text: #545d7a;
  --color-white: #fff;
  --color-title: #242e4c;
  --color-background: #f7f8fb;
  --color-border: #dae1f5;

  --fs-sm: 1rem;
  --fs-md: 1.2rem;
  --fs-lg: 1.5rem;
  --fw-regular: 500;
  --fw-medium: 600;
  --fw-bold: 700;

  --transition: 0.4s ease-in-out;
  --shadow: 0px 60px 56px -12px rgba(9, 40, 163, 0.05);
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.9rem;
    --smaller-font-size: 0.8rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* # scroll bar customization */

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background: #ccc;
}

html::-webkit-scrollbar-thumb {
  background: #999;
}

html::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-bg-color);
  color: var(--text-color);
  overflow-x: hidden !important;
}

/* # reset */

ul {
  list-style: none;
  padding-left: 0 !important;
}

a {
  text-decoration: none;
}

/* #top bar */

.topbar {
  background-color: var(--teal-extra-darken);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 0;
}

.topbar a {
  color: #fff;
}

.topbar img {
  display: block;
  width: 20px;
  height: 20px;
  object-fit: cover;
}


/* # Header and Navbar */

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 2px 8px rgba(10, 24, 51, 0.1);
  background-color: var(--primary-bg-lighten);
  z-index: var(--z-fixed);
}

.header-logo {
  width: 240px;
}

.navigation__bar {
  height: var(--header-height);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--teal-darken);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.nav__logo i {
  font-size: 1.25rem;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__toggle-menu,
.nav__toggle-close {
  font-size: 1.25rem;
  color: var(--teal-darken);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__toggle-close {
  opacity: 0;
}

@media screen and (max-width: 1199px) {
  .header-logo {
    width: 180px;
  }

  .nav__menu {
    background-color: var(--body-bg-color);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }

  .nav__menu::-webkit-scrollbar-thumb {
    background-color: #a9afbc;
  }
}

.nav__link {
  color: var(--teal-darken);
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.nav__link:hover {
  color: var(--orange);
}

.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

.dropdown__button {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__content,
.dropdown__group,
.dropdown__list {
  display: grid;
}

.dropdown__container {
  background-color: var(--first-color-lighten);
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.dropdown__content {
  row-gap: 1.75rem;
}

.dropdown__group {
  padding-left: 1rem;
  row-gap: 1rem;
}

.dropdown__group:first-child {
  margin-top: 1rem;
}

.dropdown__group:last-child {
  margin-bottom: 1.25rem;
}

.dropdown__icon i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.dropdown__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--teal-blue);
}

.dropdown__list {
  row-gap: 0.75rem;
}

.dropdown__link {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  transition: color 0.3s;
}

.dropdown__link:hover {
  color: var(--teal-darken);
}

.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}


@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 1199px) {

  .navigation__bar {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
    height: 100%;
  }

  .navigation__bar li {
    display: flex;
  }

  .nav__link {
    padding: 0;
    transition: all 0.3s ease;
  }

  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }

  .dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-bg-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .dropdown__content {
    grid-template-columns: repeat(4, max-content);
    column-gap: 5rem;
    max-width: 1180px;
    margin-inline: auto;
  }

  .dropdown__group {
    padding: 2rem 0;
    align-content: baseline;
    row-gap: 1.25rem;
  }

  .dropdown__group:first-child,
  .dropdown__group:last-child {
    margin: 0;
  }

  .dropdown__list {
    row-gap: 0.9rem;
  }

  .dropdown__icon {
    width: 60px;
    height: 60px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
  }

  .dropdown__icon i {
    font-size: 2rem;
  }

  .dropdown__title {
    font-size: var(--normal-font-size);
    color: var(--teal-blue);
  }

  .dropdown__link {
    font-size: var(--small-font-size);
  }

  .dropdown__link:hover {
    color: var(--orange);
  }

  .dropdown__item {
    cursor: pointer;
  }

  .dropdown__item:hover .nav__link {
    color: var(--orange);
  }

  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
    color: var(--orange);
  }

  .dropdown__item:hover>.dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}


/* # ----- COMMON STYLES ----- */

/* # section */

.section {
  padding: 50px 0;
}

/* # section title */

.section-title {
  text-align: center;
  margin: 30px 0;
  color: var(--blue);
  font-weight: 600;
}

.section-title span {
  color: var(--orange);
}

/* # whatsapp connect btn */

.connect-btn {
  display: inline-block;
  background-color: var(--teal-green);
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.connect-btn:hover {
  background-color: var(--teal-blue);
}

/* # ----- HOME PAGE ------ */

/* # home banner section */

.banner-section {
  position: relative;
  width: 100vw;
  height: calc(100vh - 5.5rem);
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
}

.banner-section video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner-content {
  position: relative;
  top: 160px;
}

.banner-content .banner-heading {
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 60px;
}


@media screen and (max-width:1199px) {
  .banner-section {
    height: calc(100vh - 3.5rem);
  }

  .aboutus-section {
    margin-top: 3.5rem;
  }
}

/* # services section */

.services .service-card {
  position: relative;
  height: 360px;
  border: none;
  background-color: var(--primary-bg-lighten);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.service-card .service-btn {
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 0;
  height: 0;
  cursor: pointer;
  border-left: 4rem solid transparent;
  border-bottom: 4rem solid var(--teal-green);
  border-radius: 0 0 6px 0;
  opacity: 0;
  transition: all 0.5s ease;
}

.service-card .service-btn i {
  position: absolute;
  top: 24px;
  left: -64px;
  font-size: 24px;
  color: #fff;
  transition: all 0.5s ease;
}

.service-card:hover .service-btn {
  opacity: 1;
}

.service-card:hover .service-btn i {
  left: -32px;
}

.services .service-card:hover {
  transform: translateY(-6px);
}

.services .service-card img {
  width: 50px;
  height: 50px;
  margin: 30px auto 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  color: var(--text-color);
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}

.card-pricing {
  background-color: var(--teal-green);
  padding: 4px 8px;
  border-radius: 6px;
  color: #fff;
  font-size: 12px;
}

.card-text {
  text-align: center;
  font-size: 15px;
}

.card-link {
  position: absolute;
  display: inline-block;
  bottom: 30px;
}

.nav-underline {
  display: flex;
  justify-content: center;
}

.nav-underline .nav-item {
  display: block;
}


/* # clients gallery */

.swiper {
  width: 100%;
  height: 100%;
}

.clients {
  background-color: var(--primary-bg-lighten);
}

.client-swiper .swiper-slide {
  width: 100%;
  height: 120px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ddd;
}

.client-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fff;
}



/* # why us section */

.why-us-content {
  height: 100%;
  padding: 30px 20px;
  background-color: var(--primary-bg-lighten);
  display: flex;
  align-items: flex-start;
  gap: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.why-us-content h5 {
  color: var(--blue);
  font-weight: 600;
}

.why-us-content img {
  display: block;
  width: 50px;
  height: 50px;
}


/* # ----- ABOUT PAGE ----- */

/* # about banner section */

.about-banner {
  background-image: url("../img/about/about_banner.jpg");
  height: 420px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-banner::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.about-banner-content {
  height: 420px;
  display: flex;
  align-items: center;
}

.about-banner-content h2 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  z-index: 1;
}


.about-img img {
  margin-top: 60px;
  margin-left: 20px;
  width: 100%;
  height: 100%;
}

/* # about vi section */

.about-intro p {
  text-indent: 50px;
  margin-bottom: 30px;
  color: var(--text-color);
}

.profile-video {
  display: block;
  height: 360px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 4px;
}

.profile-content {
  height: 100%;
  font-weight: 500;
  background-color: var(--primary-bg-lighten);
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 4px;
}

.about-content {
  height: 100%;
  padding: 30px;
  background-color: var(--primary-bg-lighten);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.about-content h4 {
  text-align: center;
  font-weight: 600;
  color: var(--blue);
}

.about-content p {
  text-indent: 50px;
  color: var(--text-color);
  /* text-align: justify; */
}

@media screen and (max-width: 576px) {
  .profile-video {
    height: 240px;
  }
}

/* # who we are section */

.who-we-are {
  padding: 50px 0;
}

.who-we-are p{
  text-indent: 50px;
}

/* # achievements counters section */

.achievements {
  background: linear-gradient(rgba(0, 60, 60, 0.5), rgba(0, 60, 60, 0.5)), url("../img/about/counters-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 60px 0;
  position: relative;
  z-index: -1;
}

.count-card {
  position: relative;
  z-index: 2;
  color: #fff;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 6px;
  padding: 20px 0;
}

.count-card h2,
.count-card i {
  font-weight: 600;
}

.count-card p {
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .achievements {
    background-position: 80%;
  }
}

/* # meet our expert team section */

.expert-team .team-content {
  height: 100%;
  background-color: var(--primary-bg-lighten);
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 4px;
}

.expert-team img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 4px;
}

.team-content h4 {
  font-weight: 600;
  color: var(--blue);
}

.team-content p {
  text-indent: 50px;
  color: var(--teal-darken);
  /* text-align: justify; */
}

/* # services section (in about page) */

#services {
  background-color: #fff;
}

#services h4 {
  font-weight: 600;
  color: var(--blue);
}

#services ul li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

#services ul li span {
  font-weight: 500;
  margin-top: 6px;
  color: var(--text-color);
}

#services ul li i {
  font-size: 24px;
}

.accounting-list li:nth-child(1) i {
  color: #11dbcf;
}

.accounting-list li:nth-child(2) i {
  color: #ffbb2c;
}

.accounting-list li:nth-child(3) i {
  color: #e80368;
}

.accounting-list li:nth-child(4) i {
  color: #47aeff;
}


.auditing-list li:nth-child(1) i {
  color: #FF76CE;
}

.auditing-list li:nth-child(2) i {
  color: #65B741;
}

.auditing-list li:nth-child(3) i {
  color: #1D24CA;
}

.auditing-list li:nth-child(4) i {
  color: #FF7F3E;
}


.legal-list li:nth-child(1) i {
  color: #11dbcf;
}

.legal-list li:nth-child(2) i {
  color: #ffbb2c;
}

.legal-list li:nth-child(3) i {
  color: #e80368;
}

.legal-list li:nth-child(4) i {
  color: #47aeff;
}


.compliance-list li:nth-child(1) i {
  color: #FF76CE;
}

.compliance-list li:nth-child(2) i {
  color: #65B741;
}

.compliance-list li:nth-child(3) i {
  color: #1D24CA;
}

.compliance-list li:nth-child(4) i {
  color: #FF7F3E;
}



/* # approaches section */

.approaches .approach-intro p{
  text-indent: 50px;
  margin-bottom: 50px;
}

.approach-container img {
  border-radius: 4px 0 0 4px;
}

.approach-swiper {
  height: 100%;
  background-color: var(--primary-bg-lighten);
  border-radius: 0 4px 4px 0;
}

.approach-swiper h4 {
  color: var(--blue);
  font-weight: 600;
  margin-bottom: 10px;
}


@media screen and (min-width: 1200px) {

  .approach-swiper {
    padding: 7.5rem 6rem;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .approach-swiper {
    padding: 5rem 2rem;
  }
}


@media screen and (max-width: 992px) and (min-width: 768px) {
  .approach-swiper {
    padding: 3rem 1.5rem;
  }
}

@media screen and (max-width: 768px) {

  .approach-swiper {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 991px) {

  .approach-container img {
    border-radius: 4px 4px 0 0;
  }

  .approach-swiper {
    border-radius: 0 0 4px 4px;
  }
}


/* # principles section */

.principles {
  padding: 50px 0;
}

.principles-content {
  height: 100%;
  padding: 30px 20px;
  background-color: var(--primary-bg-lighten);
  display: flex;
  align-items: flex-start;
  gap: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.principles-content h5 {
  color: var(--teal-blue);
  font-weight: 600;
}

.principles-content p {
  color: var(--teal-darken);
  /* text-align: justify; */
}

.principles-content img {
  display: block;
  width: 50px;
  height: 50px;
}


/* # get in touch section */

.get-in-touch {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/about/get_in_touch_bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 60px 0;
  position: relative;
  z-index: 1;
}

.get-in-touch .connect-content {
  text-align: center;
  color: #fff;
}

.connect-content h2 {
  text-shadow: 1px 1px 4px var(--blue);
}

.connect-content h2 span {
  text-shadow: 1px 1px 4px var(--orange);
}

.connect-content h4 {
  text-shadow: 1px 1px 4px #fff;
  margin-bottom: 20px;
}


/* # milestones section */

.milestones .wrapper {
  padding: 0 20px;
  position: relative;
}

.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: var(--teal-blue);
  left: 50%;
  transform: translateX(-50%);
}

.wrapper .tl-card {
  display: flex;
  justify-content: flex-start;
}

.wrapper .card-1 {
  justify-content: flex-start;
}

.wrapper .card-2 {
  justify-content: flex-end;
}

.wrapper .tl-content {
  position: relative;
  width: calc(50% - 30px);
  padding: 20px;
  background-color: var(--primary-bg-lighten);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 5;
}

.wrapper .bg-line {
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--teal-blue);
  transition: all 0.3s ease;
  border-radius: 6px;
}


.tl-card .tl-content .bi,
.center-line .scroll-up {
  position: absolute;
  font-size: 20px;
  background-color: var(--primary-bg-lighten);
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: var(--teal-blue);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.center-line .scroll-up {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.card-1 .tl-content .bi {
  top: 24px;
  right: -40px;
}

.card-2 .tl-content .bi {
  top: 24px;
  left: -40px;
}

.wrapper .tl-card .tl-content::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  background-color: var(--teal-blue);
  top: 26px;
  z-index: 2;
  transform: rotate(45deg);
}

.card-1 .tl-content:before {
  right: -8px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px -4px 4px -2px;
}

.card-2 .tl-content:before {
  left: -8px;
  box-shadow: rgba(0, 0, 0, 0.2) -4px 4px 4px -2px;
}

.wrapper .details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.wrapper .details span {
  font-size: 20px;
  font-weight: 600;
  color: var(--teal-blue);

}

.tl-content ul li {
  margin-bottom: 10px;
}

.tl-content ul li span {
  font-weight: 600;
  color: var(--teal-blue);
  line-height: 1.5;
}


@media (max-width: 767px) {
  .wrapper .center-line {
    left: 20px;
  }

  .wrapper .tl-card {
    margin: 30px 0 30px 30px;
  }

  .wrapper .tl-card .tl-content {
    width: 100%;
  }

  .card-1 .tl-content::before {
    left: -8px;
    box-shadow: rgba(0, 0, 0, 0.2) -4px 4px 4px -2px;
  }

  .card-1 .tl-content .bi,
  .card-2 .tl-content .bi {
    left: -40px;
  }
}

.wrapper .tl-content:hover .bg-line {
  background-color: var(--teal-blue);
  height: 100%;
  z-index: -1;
}

.wrapper .tl-content:hover {
  color: #fff;
  cursor: pointer;
}

.wrapper .tl-content:hover .details span {
  color: #fff;
}

.wrapper .tl-content:hover .tl-list li span {
  color: #fff;
}


/* # brand section */

.brands {
  padding: 30px 0;
  background-color: var(--primary-bg-lighten);
}


/* # ----- CONTACT PAGE -----  */

/* # contact banner section */

.contact-banner {
  background-image: url("../img/contact/contact_banner.jpg");
  height: 450px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-banner::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.contact-banner-content {
  height: 450px;
  display: flex;
  align-items: center;
}

.contact-banner-content h1 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  z-index: 1;
}

/* # blogs  */

.blogs-banner {
  background-image: url("../img/blogs_banner.jpg");
  height: 450px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blogs-banner::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.blogs-banner-content {
  height: 450px;
  display: flex;
  align-items: center;
}

.blogs-banner-content h1 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  z-index: 1;
}



/* # contact info section */

.contact-information {
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  align-items: center;
  background-color: var(--primary-bg-lighten);
  padding: 36px 30px;
}

.form-container h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--teal-darken);
  text-align: center;
  margin-bottom: 30px;
}

.feed-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.feed-form input {
  height: 48px;
  border-radius: 6px;
  background: white;
  margin-bottom: 16px;
  border: none;
  outline: none;
  padding: 0 20px;
  font-weight: 500;
  font-size: 14px;
  color: var(--teal-darken);
  width: 100%;
}

.feed-form input:hover {
  box-shadow: 0px 0px 3px 0px #212529;
}

.button_submit {
  width: 100%;
  height: 48px;
  font-size: 14px;
  color: white;
  background: var(--teal-blue);
  border-radius: 6px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
}



/* ---------------------------- */

.form-box {
  height: 450px;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
}

.form-box form {
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 12px 0 rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.form-title {
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}


/* # address sections */

.head-office-section {
  padding: 10px 0 50px;
  background-color: var(--primary-bg-lighten);
}

.head-office-section .address-content {
  background-color: var(--body-bg-color);
}

.branch-offices-section {
  padding: 30px 0;
}

.address-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 50px 10px;
  background-color: var(--primary-bg-lighten);

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.address-content img {
  width: 48px;
}

.address-content h3 {
  font-weight: 600;
  color: var(--blue);
}

.address-content address {
  text-align: center;
  color: var(--text-color);
  font-weight: 500;
}

.map-location {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}


/* # ------ START UP PAGE ------ */

/* .startup-banner{
  background-image: url("../img/services/start_up_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */


/* .startup-banner {
  height: 420px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
  background-image: url("../img/services/start_up_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.startup-banner::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.startup-banner .details h2 {
  position: relative;
  z-index: 2;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.startup-banner .details p {
  position: relative;
  z-index: 2;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.startup-banner .details a {
  display: inline-block;
  position: relative;
  background-color: var(--teal-green);
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  z-index: 20;
}

.startup-banner .details a:hover {
  background-color: var(--teal-blue);
  color: white;
  cursor: pointer;
} */


/* .startup-banner-business {
  background-image: url("../img/5043.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.startup-banner-tax {
  background-image: url("../img/5045.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

/* @media screen and (max-width: 576px) {
  .startup-banner {
    height: 100vh;
  }
} */


/* # ----- SERVICES PAGE COMMON STYLES ----- */

/* # services banner */

.services-banner {
  height: 420px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
}

.services-banner::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.services-banner .details h2 {
  position: relative;
  z-index: 2;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.services-banner .details p {
  position: relative;
  z-index: 2;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.services-banner .details a {
  display: inline-block;
  position: relative;
  background-color: var(--teal-green);
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  z-index: 20;
}

.services-banner .details a:hover {
  background-color: var(--teal-blue);
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .services-banner {
    height: 100vh;
  }
}


/* # ------ START UP PAGE ------ */

.startup-banner{
  background-image: url("../img/services/start_up_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ip-legal-banner{
  background-image: url("../img/services/ip_legal_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.compliance-banner{
  background-image: url("../img/services/compliance_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* # perks and benefits */

.benefits-content {
  height: 100%;
  background-color: var(--primary-bg-lighten);
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 4px;
}

.benefits-content .sub-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.benefits-content .sub-title h5 {
  color: var(--teal-blue);
  font-weight: 600;
  margin: 0;
}

.benefits-content .sub-title img {
  display: block;
  width: 36px;
  height: 36px;
}

.benefits-content .info {
  text-indent: 46px;
  /* text-align: justify; */
}

/* # documents required */

.documents-required{
  background-color: #fff;
}

.documents-card {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f7f9fc;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 4px;
}

.documents-card h5,
.documents-card p {
  position: relative;
  z-index: 3;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.documents-card h5 {
  font-weight: 600;
  color: var(--teal-blue);
}


.bg-bubble {
  height: 120px;
  width: 120px;
  background-color: #008080;

  position: absolute;
  z-index: 1;
  top: -60px;
  right: -60px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bg-bubble span {
  display: block;
  position: absolute;
  z-index: 10;
  bottom: 16px;
  left: 24px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.documents-card:hover {
  color: #fff;
  cursor: pointer;
}

.documents-card:hover h5 {
  color: #fff;
}

.documents-card:hover .bg-bubble {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.documents-card:hover .bg-bubble span {
  display: none;
}

.note {
  text-align: center;
  padding: 10px;
  margin: 30px 0;
  background-color: var(--primary-bg);
  color: var(--teal-blue);
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


/* # footer */

.footer {
  padding: 10px 0;
  background-color: var(--teal-darken);
}

.footer h5 {
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--orange);

}

.footer-content {
  margin: 30px 0 10px 0;
  color: #fff;
}

.footer-content img {
  display: block;
  width: 60px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 1rem var(--teal-blue));
}

.footer-content a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-content a:hover {
  color: var(--orange);
}

.social-links {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 10px 0;
}

.social-links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: var(--teal-extra-darken);
  border-radius: 6px;
  text-align: center;
  line-height: 1.1;
  color: white;
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: var(--orange);
  cursor: pointer;
}

.social-links i {
  font-size: 20px;
  color: white;
}

/* # quick links */

.quick-links {
  margin: 50px 0 30px 0;
}

.quick-links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quick-links ul li {
  display: flex;
  align-items: center;
  gap: 14px;
}

.quick-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.quick-links ul li a:hover {
  color: var(--orange);
}

.quick-links ul li i {
  font-size: 14px;
  color: #ccc;
}

/* # other links */

.other-links {
  margin: 50px 0 30px 0;
}

.other-links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.other-links ul li {
  display: flex;
  align-items: center;
  gap: 14px;
}

.other-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.other-links ul li a:hover {
  color: var(--orange);
}

.other-links ul li i {
  font-size: 14px;
  color: #ccc;
}

.partner-with-us {
  margin: 50px 0 30px 0;
  color: #fff;
}

.add-email {
  height: 48px;
  display: flex;
}


.add-email input {
  display: block;
  width: 75%;
  height: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 6px 0 0 6px;
  border: none;
  outline: none;
  z-index: 10;
}

.add-email button {
  display: block;
  right: 20px;
  top: 0;
  width: 25%;
  height: 100%;
  border-radius: 0 6px 6px 0;
  background-color: var(--teal-green);
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 0 6px;
  transition: all 0.3s ease;
}

.add-email button:hover {
  background-color: var(--teal-blue);
  cursor: pointer;
}


.add-mobile {
  height: 48px;
  display: flex;
}


.add-mobile input {
  display: block;
  width: 75%;
  height: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 6px 0 0 6px;
  border: none;
  outline: none;
  z-index: 10;
}

.add-mobile button {
  display: block;
  right: 20px;
  top: 0;
  width: 25%;
  height: 100%;
  border-radius: 0 6px 6px 0;
  background-color: var(--teal-green);
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 0 6px;
  transition: all 0.3s ease;
}

.add-mobile button:hover {
  background-color: var(--teal-blue);
  cursor: pointer;
}

.certifications {
  margin: 30px 0;
}

.certifications img {
  display: block;
  width: 100%;
}

.certifications div:nth-child(1) img,
.certifications div:nth-child(3) img {
  border-radius: 6px;
  overflow: hidden;
}

.bottom-bar {
  background-color: var(--teal-extra-darken);
  padding: 20px 0;
}


.copyrights-content {
  padding: 10px 0;
  text-align: center;
  color: #fff;
  background-color: var(--teal-extra-darken);
}

.copyrights-content p:nth-child(1) i {
  position: relative;
  top: 3px;
}

.copyrights-content p:nth-child(2) {
  font-size: 12px;
  margin-bottom: 0;
}


.copyrights-content a {
  color: var(--teal-green);
  transition: all 0.3s ease;
  font-weight: 600;
}

.copyrights-content a:hover {
  color: var(--orange);
}

/* # careers page   */

.careers-banner {
  background-image: url("../img/careers/careers_banner.jpg");
  height: 450px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.careers-banner::before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.careers-banner-content {
  height: 450px;
  display: flex;
  align-items: center;
}

.careers-banner-content h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
}


@media screen and (max-width: 576px) {
  .careers-banner {
    background-position: left;
  }
}

/* # join our team at vi */

.careers-intro {
  background-color: var(--primary-bg-lighten);
}


.careers-intro h5,
.careers-intro p {
  text-align: center;
}

.careers-intro h5 {
  font-weight: 600;
}


/* # work with us section */

.work-with-us-container img {
  border-radius: 4px 0 0 4px;
}

.work-with-us-swiper {
  height: 100%;
  background-color: var(--primary-bg-lighten);
  border-radius: 0 4px 4px 0;
}

.work-with-us-slide h4 {
  color: var(--orange);
  font-weight: 600;
  margin-bottom: 10px;
}

.work-with-us-slide p {
  text-indent: 50px;
}

.work-with-us-slide ul li {
  margin-bottom: 10px;
}

.work-with-us-slide ul li span {
  font-weight: 600;
  color: var(--teal-blue);
}


@media screen and (min-width: 1200px) {

  .work-with-us-swiper {
    padding: 4rem;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .work-with-us-swiper {
    padding: 3rem 2rem;
  }
}


@media screen and (max-width: 992px) and (min-width: 768px) {
  .work-with-us-swiper {
    padding: 3rem 1.5rem;
  }
}

@media screen and (max-width: 768px) {

  .work-with-us-swiper {
    padding: 2rem 1rem;
  }
}


@media screen and (max-width: 991px) {

  .work-with-us-container img {
    border-radius: 4px 4px 0 0;
  }

  .work-with-us-swiper {
    border-radius: 0 0 4px 4px;
  }
}

/* # job openings accordion */

.job-openings {
  background-color: var(--primary-bg-lighten);
}

.accordion__wrapper {
  background-color: var(--color-white);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 60rem;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.accordion__wrapper>*:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

.accordion__title {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  color: var(--color-title);
  margin-bottom: 0;
}

.accordion {
  padding: 1rem 0;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 0 1rem;
}

.accordion__icon {
  background-color: var(--teal-blue);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--color-white);
  flex-shrink: 0;
}

.accordion__desc {
  padding: 0 1rem 0.5rem;
  margin: 0;
}

.accordion__content {
  padding: 0 1rem;
  overflow: hidden;
  height: 0;
  transition: var(--transition);
}

.accordion__content h6 {
  font-weight: 600;
}

.accordion__content h6:nth-child(1) {
  margin-top: 1rem;
}

.accordion__content ul {
  list-style-type: disc;
  list-style-position: inside;
}

.accordion__content ul li {
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .accordion__wrapper {
    padding: 0.5rem 1rem;
  }
}

/* # employees reviews */

.employees-reviews {
  background: linear-gradient(rgba(0, 30, 30, 0.6), rgba(0, 30, 30, 0.6)), url("../img/careers/employees.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 60px 0;
  position: relative;
  z-index: 1;
}

.employees-reviews h2 {
  text-shadow: 1px 1px 2px var(--blue);
}

.employees-reviews h2 span {
  text-shadow: 1px 1px 2px var(--orange);
}

.emp-reviews-swiper {
  position: relative;
  padding-bottom: 30px;
  z-index: 2;

}

.emp-details {
  max-width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);

  /* background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
  border-radius: 75% 25% 25% 75% / 50% 25% 75% 50%; */
}

.emp-reviews-content p {
  position: relative;
  line-height: 1.5;
}

.emp-reviews-content p i {
  font-size: 60px;
  color: rgba(200, 200, 200, 0.5);
}

i.ri-double-quotes-l {
  position: absolute;
  left: -2px;
  top: -64px;
}

i.ri-double-quotes-r {
  position: absolute;
  right: -2px;
  bottom: -64px;
}


.emp-reviews-swiper .swiper-pagination {
  position: absolute;
  bottom: 0;
}

.emp-reviews-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ccc !important;
}

.emp-reviews-swiper .swiper-pagination-bullet-active {
  background-color: var(--orange) !important;
}

.emp-reviews-content {
  text-align: center;
  color: #fff;
}


/* # how to apply */

.to-apply p {
  text-align: center;
}

.to-apply p a {
  color: var(--blue);
  font-weight: 600;
  transition: color 0.3s ease;
}

.to-apply p a:hover {
  color: var(--orange);
}



/* # privacy policy page */

.privacy-policy h6 {
  text-indent: 50px;
  margin-top: 30px;
  line-height: 1.5;
}

.policy-intro {
  text-indent: 50px;
  margin-bottom: 30px;
}

.policy-content h5 {
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--blue);
}

.policy-content h5 span {
  color: #000;
}

.policy-content p {
  text-indent: 50px;
}

/* # refund policy page */

.refund-policy .refund-note {
  padding: 20px;
  background-color: var(--primary-bg-lighten);
}

.refund-policy .refund-note span {
  color: var(--orange);
  font-weight: 600;
}

.refund-content h5 {
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--blue);
}

.refund-content h5 span {
  color: #000;
}

.refund-content p {
  text-indent: 50px;
  line-height: 1.5;
}


/* # terms and conditions page */

.terms-conditions .tc-content p {
  line-height: 1.5;
}


/* # whatsapp chat */

.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  z-index: 100;
  font-size: 30px;
  display: grid;
  place-content: center;
}


@media screen and (max-width: 767px) {
  .whatsapp_float {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
  }
}